.webp .pages-main_about {
  background: url('../img/about-bg.webp') no-repeat center center / cover;
}

.no-webp .pages-main_about {
  background: url('../img/about-bg.png') no-repeat center center / cover;
}

.about {
  width: 100%;
  @include flex(center, center);
}

.about__inner {
  flex-direction: column;
  padding: 120px 0 160px 0;
  width: 33vw;
  min-width: 600px;
  @include flex(center, center);
}

.about-bg_mobile {
  display: none;
}

.about__h1 {
  margin-bottom: 40px;
  font-weight: 700;
}

.about__p_bold {
  @include text-semibold;
}

@media (max-width: 768px) {
  .about {
    background: none;
    padding-right: 0;
    padding-left: 0;
  }

  .about__h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .about__picture {
    width: 100%;
  }

  .about-bg_mobile {
    display: block;
    height: 250px;
    width: 100%;
  }

  .about__inner {
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 40px;
    width: 100%;
    min-width: 0;
  }

  .about__text {
    padding-right: 20px;
    padding-left: 20px;
  }
}
