.partners {
  margin-bottom: 200px;

  &__inner {
    @include flex(center, center);
  }

  &__img-div {
    @include flex(center, center);

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__img {
    padding: 40px;
    width: 100%;
    max-width: 400px;
    @include border;
  }
}

@media (max-width: 768px) {
  .partners__inner {
    flex-direction: column;
  }

  .partners__img-div {
    margin-bottom: 20px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}
